registry=https://pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/registry/:username=nicolas.georgel@ses.com
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/registry/:_password=cGwyZnVvajQ1YzJ6cjY3ZXh2ZXNqdWV0NGIyZGlsdjR3Y2VsZGtsaHZhM252eGNqajJ6YQ==
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/registry/:email=nicolas.georgel@ses.com
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/:username=nicolas.georgel@ses.com
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/:_password=cGwyZnVvajQ1YzJ6cjY3ZXh2ZXNqdWV0NGIyZGlsdjR3Y2VsZGtsaHZhM252eGNqajJ6YQ==
//pkgs.dev.azure.com/SES-PDE/infrastructure/_packaging/UCP-NPM-Packages/npm/:email=nicolas.georgel@ses.com
; end auth token pl2fuoj45c2zr67exvesjuet4b2dilv4wceldklhva3nvxcjj2za
